<!--
<ion-card>
    <ion-img 
        src="https://drive.google.com/uc?export=view&id=1AbVuYe0VdVX3xMLEj7du9XQ0O6HJru2u"
        alt="Una foto de la persona">
    </ion-img>
    <ion-card-header>
        <ion-title style="text-align: center;"><b>Elon Musk</b></ion-title>
    </ion-card-header>
    <ion-card-content>
        <br/>
        <ion-text>Edad: 18</ion-text>
        <br/>
        <ion-text>Profesion: Carpintero</ion-text>
        <br/><br/>
        <ion-label class="centrado">
            <ion-button>Editar</ion-button>
            <ion-button>Borrar</ion-button>
        </ion-label>
    </ion-card-content>
</ion-card>
-->
<!--https://drive.google.com/uc?export=view&id=1AbVuYe0VdVX3xMLEj7du9XQ0O6HJru2u-->
<ion-item detail="true">
    <ion-avatar slot="start">
        <ion-img
            src="{{person.profilePic}}"
            alt="Una foto de la persona">
        </ion-img>
    </ion-avatar>
    <ion-text style="text-align: center;">{{person.personName.subname}}, &#32; {{person.personName.name}}</ion-text>
</ion-item>
