<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Trabajo HLC - Gestionar personas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--
  <ion-grid>
    <ion-row>
      <ion-col>
        <app-perosna></app-perosna>
      </ion-col>
      <ion-col>
        <app-perosna></app-perosna>
      </ion-col>
      <ion-col>
        <app-perosna></app-perosna>
      </ion-col>
    </ion-row>
  </ion-grid>
  -->
 <!--
  <ion-grid>
  <ion-row *ngFor="let person of [].constructor( countRows() ); let i=index" class="threePeopleGrid">
    <ion-col *ngFor="let grid of [].constructor(3)">
      <app-perosna *ngIf=""></app-perosna>
    </ion-col>
  </ion-row>
 </ion-grid>
-->
<!--
<ion-list>
  <ion-item *ngFor="let i of peopleList.getPeople">
    <app-perosna [person]="i"></app-perosna>
  </ion-item>
</ion-list>
-->
  <ion-list>
      <app-perosna [person]="i" *ngFor="let i of peopleList.getPeople"></app-perosna>
  </ion-list>

 <!--
  <app-perosna></app-perosna>
  <app-perosna></app-perosna>
  <app-perosna></app-perosna>
  <app-perosna></app-perosna>
  <app-perosna></app-perosna>
  <app-perosna></app-perosna>
 -->
</ion-content>
